@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-heading), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --animate-spotlight: spotlight 2s ease .75s 1 forwards;
  --animate-shimmer: shimmer 2s linear infinite;
  --animate-scroll: scroll var(--animation-duration, 80s) var(--animation-direction, forwards) linear infinite;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  --animate-slide: slide var(--speed) ease-in-out infinite alternate;

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes shimmer {
    from {
      backgroundPosition: 0 0;
    }

    to {
      backgroundPosition: -200% 0;
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --muted-foreground: #71717a;
  --border: #e4e4e7;
  --shimmer-btn-bg: #000000;
  --shimmer-btn-bg-secondary: #333333;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --muted-foreground: #a1a1aa;
  --border: #27272a;
  --shimmer-btn-bg: rgba(0, 0, 0, 1);
  --shimmer-btn-bg-secondary: rgba(255, 255, 255, 0.1);
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground);
  border: 3px solid var(--background);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}